:root {
	--secondary-color: #828282;
}

body {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings: "slnt" 0;
}
.container-fluid {
	margin-top: 100px;
}

h1 {
	font-weight: 600;
	font-size: 40px;
}

h2 {
	font-weight: 400;
	font-size: 24px;
	color: rgb(130, 130, 130);
}

h3 {
	font-weight: 500;
	font-size: 20px;
}

p {
	font-weight: 500;
	font-size: 20px;
	color: var(--secondary-color);
}

button {
	margin-top: 55px;
	padding: 10px 150px;
	background-color: black;
	color: white;
	border-radius: 10px;
	font-size: larger;
}

#home-main {
	margin-top: 100px;
	display: flex;
	justify-content: center;
}

li {
	list-style: none;
}
.contact-icons {
	display: inline-block;
	margin-right: 30px;

	color: var(--secondary-color);
	font-size: 25px;
}
img {
	border-radius: 10px;
}
