// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

body {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings: "slnt" 0;
}
.container-fluid {
	margin-top: 100px;
}

h1 {
	font-weight: 600;
	font-size: 40px;
}

h2 {
	font-weight: 400;
	font-size: 24px;
	color: rgba(130, 130, 130, 1);
}

h3 {
	font-weight: 500;
	font-size: 20px;
}

p {
	font-weight: 500;
	font-size: 20px;
	color: rgba(130, 130, 130, 1);
}
