:root {
	--secondary-color: #828282;
}

body {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings: "slnt" 0;
	margin: 20px 50px;
}

h1 {
	font-weight: 600;
	font-size: 40px;
	margin-bottom: 30px;
}

h2 {
	font-weight: 500;
	font-size: 24px;
	color: rgb(130, 130, 130);
	margin-top: 40px;
	margin-bottom: 10px;
}

h3 {
	font-weight: 500;
	font-size: 20px;
	margin-top: 20px;
}

p {
	font-weight: 400;
	font-size: 20px;
	color: var(--secondary-color);
}

.home-main-container {
	margin-top: 100px;
}

.contact-button {
	margin-top: 50px;
	border: none;
	padding: 10px 150px;
	background-color: black;
	opacity: 0.8;
	border-radius: 10px;
	font-size: larger;
}
button:hover {
	opacity: 1;
	box-shadow: 5px 5px 15px var(--secondary-color);
	transition: 30ms ease-in-out;
}
.contact-button-link {
	color: white;
}

li {
	list-style: none;
}

img {
	border-radius: 10px;
	width: 100%;
	height: auto;
}
.landing-photo {
	width: 80%;
	height: auto;
	margin: 0 30px 0 50px;
	opacity: 0.9;
	border-radius: 200px;
}

.about-photo {
	border-radius: 200px;
	width: 80%;
}

.tumblr {
	opacity: 0.7;
}

.tumblr:hover {
	opacity: 1;
	box-shadow: 5px 5px 15px var(--secondary-color);
	transition: 30ms ease-in-out;
}

a {
	text-decoration: none;
	color: black;
}
main {
	text-align: center;
	margin-top: 100px;
}
footer {
	opacity: 0.7;
}
.contact-icons {
	display: inline-block;
	margin-right: 20px;

	color: var(--secondary-color);
	font-size: 25px;
	opacity: 0.7;
}
.contact-page-icons {
	display: inline-block;
	margin: 20px 30px 20px 0;
}

.list-of-contents {
	line-height: 2;
}

.about-photo {
	width: 400px;
	margin-top: 40px;
}

.contact-page-icons {
	font-size: 50px;
}

@media (max-width: 1000px) {
	.contact-button {
		padding: 10px 100px;
	}
}
@media (max-width: 770px) {
	header {
		text-align: center;
	}

	.contact-page-icons {
		display: block;
	}
	.contact-button {
		padding: 10px 60px;
	}
}
